/*background image set to cocoa beans*/
body {
    background-image: url(../images/coffee-core-texture-caffeine.jpg);
    background-repeat: repeat;
    background-size: cover;
    background-color: #cccccc;
    height: 619px;
}

.header {
    font-family: "Comic Sans MS", cursive, sans-serif;
    text-align: center;
    width: 75%;
    padding-left: 5%;
}

h1 {
    font-family: 'airstreamregular';
}

p {
    padding-left: 10px;
    font-family: Verdana, Verdana, Geneva, sans-serif;
    font-size: 14pt;
    width: 70%;
    color: #2f2114;
    background-color: rgba(183, 154, 110, .3);
}

/* sticky nav bar*/
.nav {
    list-style-type: none;
    margin: 1px;
    padding: 5px;
    width: 200px;
    border: 1px solid #4a3323;
    position: fixed;
    right: 20px;
    overflow: auto;
    background-color: rgba(74, 51, 35, .5);

}

li {
    text-align: center;
    border-bottom: 1px solid #4a3323;
}

li a {
    display: block;
}

li a:hover {
    background-color: #ffffff;
    color: #4a3323;
}

li a:active {
    background-color: #4a3323;
    color: #ffffff;
}

li a:visited {
    color: burlywood;
}

li:last-child {
    border-bottom: none;
}

.active {
    background-color: #4a3323;
    color: #ffffff;
}

q,
blockquote {
    quotes: "\201C""\201D""\2018""\2019";
}

@font-face {
    font-family: 'airstreamregular';
    src: url('fonts/Airstream-webfont.woff') format('woff'),
        font-weight: normal;
    font-style: normal;
    4
}


.fleft {
    float: left;
    padding-right: 10px;
}

/*clear previous floats*/
.clear {
    clear: both;
}

/*image box*/
.box {
    margin-top: 50px;
    padding-top: 50px;
}


.box img.left {
    float: left;
    margin-right: 24px;
    width: 300px;
    box-shadow: 5px 10px;
}

.box img.right {
    margin-left: 24px;
    width: 300px;
    box-shadow: 5px 10px;
}
