p {
    color: #4287f5;
    font-size: 0.9em;
}

h1 {
    color: #e0ebeb;
    background-color: #145252;
    text-align: center;
    letter-spacing: 3px;
}


.footer {
    position: relative;
    bottom: 0;
    height: 2.5rem
}

.centerDiv {
    text-align: center;
}
